/* Bagian Header */

.header {
  height: 500px;
}

.gambar {
  object-fit: cover;
  height: 500px;
}

.text {
  align-items: center;
}

.garis {
  padding: 10px;
}

.print {
  object-fit: contain;
}

.detail {
  margin: auto;
  padding: auto;
}

body {
  background-color: #f7ecde;
}
